<div class="admin-container">

  <!-- Header -->

  <div class="header">
    <div>
      <h1> Manage Notices</h1>
      <p>{{notices.length}} notices posted</p>
    </div>

    <button class="create-btn" (click)="openForm()">
      + Create Notice
    </button>
  </div>


  <!-- Create / Edit Form -->

  <div class="form-card" *ngIf="showForm">

    <h2>{{isEditMode ? 'Update Notice' : 'Create Notice'}}</h2>

    <form (ngSubmit)="submitNotice()">

      <input
        type="text"
        placeholder="Notice Title"
        [(ngModel)]="notice.title"
        name="title"
        required
      />

      <textarea
        placeholder="Notice Message"
        [(ngModel)]="notice.message"
        name="message"
        required>
      </textarea>

      <input
        type="text"
        placeholder="File URL (optional)"
        [(ngModel)]="notice.fileUrl"
        name="fileUrl"
      />

      <label class="checkbox">
        <input
          type="checkbox"
          [(ngModel)]="notice.pinned"
          name="pinned"
        />
        Pin Notice
      </label>

      <div class="form-buttons">

        <button type="submit">
          {{isEditMode ? 'Update Notice' : 'Post Notice'}}
        </button>

        <button
          type="button"
          class="cancel"
          (click)="closeForm()">
          Cancel
        </button>

      </div>

    </form>

  </div>


  <!-- Notice Cards -->

  <div class="notice-card" *ngFor="let n of notices">

    <div class="notice-left">

      <div class="icon">📄</div>

      <div class="notice-details">

        <h3>
          {{n.title}}
          <span *ngIf="n.pinned" class="urgent">URGENT</span>
        </h3>

        <p>{{n.message}}</p>

        <div class="meta">
          <span>{{n.createdAt | date:'mediumDate'}}</span>
        </div>

      </div>

    </div>

    <div class="notice-actions">

      <!-- <button class="view">View</button> -->
      <!-- class="edit" -->
      <button
   
        (click)="editNotice(n)">
        Edit
      </button>

      <!-- class="delete" -->
      <button
        (click)="deleteNotice(n.id)">
        Delete
      </button>

    </div>

  </div>

</div>