<div class="manage-container">

  <!-- Header -->
  <div class="header">
    <div>
      <h1>Manage Jobs</h1>
      <p>{{totaljobs()}} jobs posted</p>
    </div>

    <button class="post-btn"  (click)="openAddnewjobModal()">
      + Post New Job
    </button>

    <app-addnewjobmodal *ngIf="isOpen" (close)="closeModal()"></app-addnewjobmodal>
  </div>

  <!-- Search -->
  <div class="search-box">
    <input type="text"
             placeholder="Search companies or roles..."
             (input)="updateSearch($event)" />
  </div>

  <!-- Job Card 1 -->
  <div class="job-card"  *ngFor="let job of jobs()">

    <div class="left-section">
      <div class="company-icon">🏢</div>

      <div>
        <h2>{{ job.companyName }}</h2>
        <p class="role">{{ job.jobTitle }}</p>

        <div class="tags">
          <span class="tag">CGPA ≥ {{job.minCgpa}}</span>
         <span *ngFor="let degree of job.eligibleDegrees.split(',')" class="tag">
          {{ degree }}
        </span>
          <span class="tag deadline">{{ job.deadline }}</span>
        </div>
      </div>
    </div>

    <div class="right-section">
      <span class="salary-badge"> {{ job.packageLpa }}  LPA</span>
      <div class="applicants">👥 2</div>
      <button class="more-btn">👁 More</button>
      <button class="export-btn">⬇ Export</button>
    </div>

  </div>


</div>