<div class="app-container">

  <aside class="sidebar">
    <div class="logo">
      <div class="logo-icon">🎓</div>
      <div>
        <h2>PlacePro</h2>
        <p>Student Portal</p>
      </div>
    </div>

    <nav>
      <a routerLink="userdashboard" routerLinkActive="active"><span>🏠</span> Dashboard</a>
      <a routerLink="myprofile" routerLinkActive="active"><span>👤</span> My Profile</a>
      <a routerLink="jobs" routerLinkActive="active"><span>💼</span> Job Listings</a>
      <a routerLink="applications" routerLinkActive="active"><span>📖</span> My Applications</a>
      <a routerLink="notice" routerLinkActive="active"><span>🔔</span> Notice Board</a>
    </nav>

    <div class="user-footer">
      <div class="avatar">🧑🏻‍🎓</div>
      <div>
        <strong>Rahul Sharma</strong>
        <p>Student</p>
      </div>
    </div>
  </aside>

  <!-- THIS IS THE IMPORTANT PART -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>