  <div class="container">

    <!-- Header -->
    <div class="header">
      <div>
        <h1>All Applications</h1>
        <!-- <p>{{totalApplication}} total applications</p> -->
      </div>

      <button class="export-btn">
        ⬇ Export Excel
      </button>
    </div>


    <!-- Filters -->
    <div class="filters">

    <input type="text" placeholder="Search student..." class="search" (input)="onSearch($event)">
   <select class="company-filter" (change)="filterByCompany($event)">
  @for (com of companies(); track com) {
    <option [value]="com === 'All' ? '' : com">{{com}}</option>
  }
</select>
    </div>


    <!-- Table -->
    <div class="table">

      <div class="table-header">
        <span>STUDENT</span>
        <span>COMPANY</span>
        <span>APPLIED</span>
        <span>STATUS</span>
      </div>


        <!-- <h1>This is not only the thign you want to do for fetch the  data</h1>
    -->
    @for (app of applications(); track app.id){


        <div class="table-row">
          <span>{{app.studentName}}</span>
          <span>{{app.companyName}}</span>
      <span>{{ app.applicationdate | date:'dd-MM-yyyy HH:mm' }}</span>

          <span
            class="status">
            {{app.status}}
          </span>

        </div>

      }

    </div>
  <div class="pagination">

  <button (click)="prevPage()" [disabled]="currentPage() === 0">
    ⬅ Previous
  </button>

  <span>
    Page {{ currentPage() + 1 }} of {{ totalPages() }}
  </span>

  <button (click)="nextPage()" 
          [disabled]="currentPage() >= totalPages() - 1">
    Next ➡
  </button>

</div>

  </div>